/* x, y, blur, color */

/* Box Shadow */
div {
	width: 300px;
	height: 300px;
	background-color: darkblue;
	box-shadow: 10px 10px 10px blue;
}

/* Text Shadow */
h1 {
	color: red;
	text-shadow: 10px 5px 9px red;
}
