.container {
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container > a {
	text-decoration: none;
	border: 2px solid red;
	padding: 10px 20px;
	color: brown;

	/* transition-property: all; */
	/* transition-duration: 1s; */
	/* transition-timing-function: ease-out; */
	transition: all 1s ease-out;
}

.container > a:hover {
	background-color: brown;
	color: white;
}
