* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: blueviolet;
}

.container {
	border: 2px solid white;
	width: 700px;
	height: 300px;
	margin: 20px auto;

	display: flex;
	/* align-items: flex-end; */
	/* align-items: flex-start; */
	align-items: center;
}

.container div {
	width: 50px;
	height: 50px;
	background: rgb(42, 21, 62);
	margin: 10px;
	color: #fff;
	text-align: center;
}
