body {
	background: coral;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200px) {
	body {
		background: pink;
	}
}

@media screen and (max-width: 1000px) {
	body {
		background: steelblue;
	}
}

@media screen and (max-width: 700px) {
	body {
		background: crimson;
	}
}

@media screen and (max-width: 480px) {
	body {
		background: chartreuse;
	}
}
