* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: blueviolet;
}

.container {
	border: 2px solid white;
	width: 700px;
	height: 410px;
	margin: 20px auto;

	display: flex;
	flex-direction: column;
	/* flex-direction: row-reverse; */
	/* flex-direction: column-reverse; */
}

.container div {
	width: 50px;
	height: 50px;
	background: rgb(42, 21, 62);
	margin: 10px;
	color: #fff;
	text-align: center;
}
