NODE_ENV=development
PORT=8000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.nhxr6xt.mongodb.net/orbit?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
UPSTASH_REDIS_REST_URL=https://your-upstash-redis-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token
CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
SMTP_HOST=smtp.gmail.com
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_app_password

# For local development
# CLIENT_URL=http://localhost:3000

# For live deployment
# CLIENT_URL=https://your-frontend-domain.com
