div {
	width: 300px;
	height: 300px;
	/* Linear Gradient */
	background-image: linear-gradient(to right, purple, yellow);

	/*  Radial Gradient */
	background-image: radial-gradient(circle, yellow, green);
}
