@media screen and (max-width: 1024px) {
	/* || Navbar */
	.nav {
		padding: 20px;
	}

	.signin-btn,
	.nav-start-project-btn {
		padding: 8px 10px;
		font-size: 12px;
	}

	/* || Main */
	.main-container {
		margin: 80px 30px 0 30px;
	}

	.main-heading {
		line-height: normal;
	}

	.main-info {
		font-size: 18px;
	}

	.main-last-para {
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	/* || Navbar */
	.nav {
		padding: 20px;
	}

	.nav-logo {
		width: 120px;
	}

	.nav-right {
		font-size: 12px;
	}

	.nav-right i {
		font-size: 16px;
	}

	.signin-btn,
	.nav-start-project-btn {
		padding: 6px 12px;
		font-size: 10px;
	}

	.part2 {
		display: none;
	}

	.part-4 {
		display: block;
	}

	/* || Main */
	.main-container {
		margin: 80px 30px 0 30px;
	}

	.main-heading {
		font-size: 50px;
	}

	.main-info {
		font-size: 13px;
	}

	.main-start-project-btn,
	.request-a-demo-btn {
		font-size: 12px;
	}

	.main-last-para {
		font-size: 10px;
	}
}

@media screen and (max-width: 480px) {
	/* || Navbar */
	.nav {
		padding: 20px;
	}

	.nav-logo {
		width: 140px;
	}

	.part2,
	.part3 {
		display: none;
	}

	.part-4 {
		display: block;
	}

	/* || Main */
	.main-container {
		margin: 80px 30px 0 30px;
	}

	.main-heading {
		font-size: 35px;
		line-height: normal;
	}

	.main-info {
		font-size: 12px;
		line-height: 20px;
	}

	.main-start-project-btn,
	.request-a-demo-btn {
		font-size: 12px;
	}

	.main-last-para {
		font-size: 8px;
	}
}
