/* 
    * VALUES
        - normal    
        - multiply
        - screen 	 
        - overlay 	 
        - darken 	 
        - lighten 	 
        - color-dodge
        - color-burn
        - difference
        - exclusion
        - hue 	     
        - saturation
        - color 	 
        - luminosity
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	background-color: red;
}

/* --------- MIXING TWO IMAGES ---------  */
.container .img {
	background-image: url("photo-1.jpg"), url("photo-2.jpg"),
		linear-gradient(steelblue, firebrick);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;

	/* background-blend-mode: overlay; */
	background-blend-mode: multiply, screen;
}
