/* Pixels (px) */
.px {
	height: 200px;
	width: 200px;
	background-color: cyan;
	border-radius: 100px;
}

/* Percent Unit (%) */
.parent {
	width: 500px;
	height: 500px;
	background-color: darkblue;
}

.child {
	width: 100%;
	height: 100%;
	background: cyan;
}

/* em */
.em {
	font-size: 2em;
}

/* rem */
html {
	font-size: 3rem;
}

.rem {
	font-size: 2rem;
}

/* vh and vw */
div {
	background: crimson;
	height: 50vh;
	width: 100vw;
}
