* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1f1f1f;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 50px;
}
