body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
}

p::before {
	content: "Hello";
	background: red;
	font-size: 20px;
	color: #fff;
	font-weight: 800;
}

p::after {
	content: "bye";
	background: red;
	font-size: 20px;
	color: #fff;
	font-weight: 800;
}
